export PYTEST_TARGET="pkommand tests doc"
export BLACK_TARGET="setup.py pkommand tests doc"
export MYPY_TARGET="pkommand"
export PYDOCSTYLE_TARGET="pkommand"
export ISORT_TARGET="setup.py pkommand tests doc"
