include *.md
include tox.ini
include .envrc
include Pipfile
include Pipfile.lock
include Makefile

recursive-include tests *.py
recursive-include doc *.py

prune tests/.mypy_cache
prune doc/runnable/.mypy_cache
