[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
tox = "*"
mypy = "*"
coverage = "*"
ruff = "*"

[requires]
python_version = "3.12"

[scripts]
check = "tox -e black,mypy,ruff -p 3"
test = "tox -e clean,py312,coverage-report"
